
/* ==========================================================================
   Footer Bottom Styles
   ========================================================================== */
.footer-wrapper {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
    border-top: 1px solid okhsla(from var(--TX-SC-1) h s l / 0.1);
}

.footer-bottom {
    background-color: var(--BG-SC-1); /* Dark background for contrast */
    color: var(--AC-SC-1);
    padding: 2rem;
    text-align: center;
}

.footer-sm-links {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer-sm-links a {
    color: var(--AC-SC-1); /* Lighter text color */
    transition: all 0.2s ease;
}

.footer-sm-links a:hover {
    color: var(--AC-SC-1);
    transform: scale(1.1);
}

.copyright-text {
    font-family: var(--font-body);
    font-size: 0.9rem;
    color: var(--TX-SC-1); /* Lighter text color */
    margin: 0;
}
